div.pricing-card-area .row{margin-left:-100px;margin-right:-100px;}

.pricing-card-area .single-card {padding:40px 0px;}



.frame {
    height: 130px;      /* Equals maximum image height */
    width: 150px;
    
    white-space: nowrap; /* This is required unless you put the helper span closely near the img */

    text-align: center;
    margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.img-pop-up {
   
    vertical-align: middle;
    max-height: 130px;
    max-width: 150px;
}